@import "~react-line-awesome/src/resources/line-awesome/css/line-awesome.min.css";

.icon-wrapper {
  margin: 0 0.25rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.toolbarBtnWrap {
  padding-left: 2.0667rem;
}

.toolbarBtnRow {
  border-bottom: 1px solid #edebe9;
}

.table-wrapper {
  padding: 0 1.4rem;
}
.table-height-calc-filter {
  height: calc(100vh - 300px);
}
.table-height-calc-non-filter {
  height: calc(100vh - 200px);
}

.rc-table {
  // .rc-table-measure-row {
  //   visibility: collapse;
  // }

  ::-webkit-scrollbar {
    width: 0.3333rem;
  }

  ::-webkit-scrollbar-track {
    background-color: tre;
    -webkit-border-radius: 0.3333rem;
    border-radius: 0.3333rem;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0.3333rem;
    border-radius: 0.3333rem;
    background: #6d6d6d;
  }

  table {
    width: 100%;
    th {
      border-bottom: 1px solid #edebe9;
      color: #fff;
      font-weight: bold;
      background-color: #343a40;
      padding: 4px;

      &:first-child {
        i {
          padding: 0.8667rem 0 0.9333rem 0.8rem;
        }
      }

      span {
        padding: 0.7333rem 0 0.8rem 0.36rem;
      }
    }

    .rc-table-tbody {
      background-color: #d3d3d3;
      tr {
        &.selected,
        &:hover {
          background: #f7f7f7;

          td {
            .showWhenHovered {
              visibility: visible;
              text-align: right;

              i {
                cursor: pointer;
              }
            }
          }
        }
        .showWhenHovered {
          visibility: hidden;
        }

        td {
          border-bottom: 1px solid #edebe9;
          padding: 11.7328px 13.8672px 0.8rem;
        }
      }
    }
  }
}
