.customSelect {
  height: 2.1333rem;
  border: 1px solid #c4c4c4 !important;
  border-radius: 2px;
  margin-bottom: 0;
}

.disabled {
  border: none !important;
  background-color: #fff !important;
  background-image: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
}
