.CardWrap {
  color: #000;
  margin: 10px;
  min-width: 200px;
  border: none;
  cursor: pointer;
  background-color: rgb(225, 224, 224);
  &:hover {
    transform: scale(1.05);
  }
  p {
    padding: 0;
    margin: 0;
  }
  .cardInner {
    padding: 10px !important;
  }
  .success {
    background-color: rgb(123, 204, 123);
  }
  .fail {
    background-color: rgb(221, 102, 102);
  }
}
